<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a485d2">  <td>18/10/20 21:31:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AppTest.initialize()[pri:0, instance:APITests.Assignment.AppTest@5e5792a0]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/10/20 21:31:06</td>   <td>445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.changeStatusNonExistingOrderTest()[pri:0, instance:APITests.Assignment.AppTest@5e5792a0]">changeStatusNonExistingOrderTest</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/10/20 21:31:08</td>   <td>2171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.getNonExistingOrderTest()[pri:0, instance:APITests.Assignment.AppTest@5e5792a0]">getNonExistingOrderTest</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/10/20 21:31:08</td>   <td>2260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.placeOrderTest()[pri:0, instance:APITests.Assignment.AppTest@5e5792a0]">placeOrderTest</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/10/20 21:31:09</td>   <td>3409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.getExistingOrderTest()[pri:1, instance:APITests.Assignment.AppTest@5e5792a0]">getExistingOrderTest</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/10/20 21:31:09</td>   <td>3643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.changeAssignToCompleteTest()[pri:2, instance:APITests.Assignment.AppTest@5e5792a0]">changeAssignToCompleteTest</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/10/20 21:31:09</td>   <td>3718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.changeAssignToOngoingTest()[pri:3, instance:APITests.Assignment.AppTest@5e5792a0]">changeAssignToOngoingTest</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/10/20 21:31:09</td>   <td>3933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.changeOngoingToCancelTest()[pri:4, instance:APITests.Assignment.AppTest@5e5792a0]">changeOngoingToCancelTest</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/10/20 21:31:09</td>   <td>4053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.changeAssigningToCancelTest()[pri:5, instance:APITests.Assignment.AppTest@5e5792a0]">changeAssigningToCancelTest</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/10/20 21:31:10</td>   <td>4405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.changeOngoingToCompleteTest()[pri:6, instance:APITests.Assignment.AppTest@5e5792a0]">changeOngoingToCompleteTest</td> 
  <td>main@633070006</td>   <td></td> </tr>
</table>
