<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>APITests.Assignment.AppTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>changeOngoingToCompleteTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>changeAssignToCompleteTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>changeAssignToOngoingTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>changeStatusNonExistingOrderTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>changeAssigningToCancelTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getNonExistingOrderTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>changeOngoingToCancelTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>placeOrderTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getExistingOrderTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initialize</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
