<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7d6578">  <td>18/10/20 22:10:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AppTest.initialize()[pri:0, instance:APITests.Assignment.AppTest@29774679]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>18/10/20 22:10:12</td>   <td>457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.changeStatusNonExistingOrderTest()[pri:0, instance:APITests.Assignment.AppTest@29774679]">changeStatusNonExistingOrderTest</td> 
  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>18/10/20 22:10:13</td>   <td>2183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.getNonExistingOrderTest()[pri:0, instance:APITests.Assignment.AppTest@29774679]">getNonExistingOrderTest</td> 
  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>18/10/20 22:10:14</td>   <td>2279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.placeOrderTest()[pri:0, instance:APITests.Assignment.AppTest@29774679]">placeOrderTest</td> 
  <td>main@517210187</td>   <td></td> </tr>
</table>
